{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "no-console": 0,
    "id-length": 0,
    "no-unused-expressions": 0,
    "object-curly-spacing": 0,
    "no-alert": 0,
  }
}
