/* colors */

$main-title-border-color: black;

$item-title-color-hover: #699b98;
$item-icon-color: rgba(0, 0, 0, .4);
$item-icon-color-hover: rgba(0, 0, 0, 1);

$header-background: #699b98;
$header-border-color: rgba(0, 0, 0, .2);

$popup-border-color: rgba(0, 0, 0, .15);
$popup-button-stop-timer-background: rgba(0, 0, 0, .6);

$footer-background: white;
$footer-border-color: rgba(0, 0, 0, .1);
